/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
.no-margin{margin:0 !important;}
.no-margin-top{margin-top:0 !important;}

.top-buffer-5{margin-top:5px !important;}
.top-buffer-20{margin-top:20px !important;}
.top-buffer-15{margin-top:15px;}
.top-buffer-25{margin-top:25px;}
.top-buffer-30{margin-top:30px;}
.top-buffer-33{margin-top:33px;}
.top-buffer-40{margin-top:40px;}
.top-buffer-10{margin-top:10px !important;}
.top-buffer-8{margin-top:8px;}
.top-buffer-80{margin-top:80px;}
.top-buffer-100{margin-top:100px;}

.top-bottom-buffer-0{margin-top:0px;margin-bottom:0px;}
.top-bottom-buffer-10{margin-top:10px;margin-bottom:10px;}
.top-bottom-buffer-15{margin-top:15px;margin-bottom:15px;}

.bottom-buffer-5{margin-bottom:5px !important;}
.bottom-buffer-10{margin-bottom:10px;}
.bottom-buffer-15{margin-bottom:15px !important;}
.bottom-buffer-24{margin-bottom:24px;}
.bottom-buffer-20{margin-bottom:20px !important;}
.bottom-buffer-50{margin-bottom:50px;}
.bottom-buffer-30{margin-bottom:30px !important;}

.border-right{border-right:1px solid #d9d9d9;}
.no-padding{padding:0 !important;}
.no-padding-l{padding-left:0 !important;}
.no-padding-r{padding-right:0 !important;}

.thumbnail{padding:0;margin-bottom:0}

.font-10{font-size:10px;}
.font-11{font-size:11px;}
.font-12{font-size:12px;}
.font-13{font-size:13px !important;}
.font-14{font-size:14px !important;}
.font-16{font-size:16px !important;}
.font-18{font-size:18px;}
.font-20{font-size:20px !important;}
.font-24{font-size:24px !important;}
.font-30{font-size:30px;}

.padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-10{padding-top:10px !important;}
.padding-top-55{padding-top:55px;}
.padding-bottom-20{padding-bottom:20px !important}

.right-buffer-30{margin-right:30px;}
.right-buffer-15{margin-right:15px;}
.right-buffer-20{margin-right:20px;}
.right-buffer-10{margin-right:10px;}
.right-buffer-5{margin-right:5px;}

.pad-left-0{padding-left: 0px;}
.pad-left-15{padding-left: 15px;}
.pad-left-20{padding-left: 20px;}
.pad-left-25{padding-left: 25px;}
.pad-left-27{padding-left: 27px;}
.pad-left-30{padding-left: 30px;}


.pad-left-right-10{ padding-left: 10px; padding-right: 10px ;}
.pad-left-right-15{ padding-left: 15px; padding-right: 15px ;}
.pad-left-right-20{ padding-left: 20px; padding-right: 20px ;}
.no-padding{padding: 0px !important; }


.full-width{width:100% !important;}
.text-bold-lt{font-weight:300;}
.text-bold-md{font-weight:500;}
.text-bold-ex{font-weight:700;}
.text-left{text-align:left !important;}
.padding-5{padding:5px 8px !important;}
.pull-right-xs{float:right;}
.pull-right-cu{float:right;}
.pull-left-xs{float:left;}
.pull-left-cu{float:left;}
.bottom-buffer-2{margin-bottom:2px !important;}
.left-buffer-20 {margin-left:20px !important;}
.left-buffer-10 {margin-left:10px !important;}
.padding-left-10{padding-left:10px !important;}
.text-999{color:#999}
.text-sec-primary{color:#264359}
.label-danger{background-color:#e13030;border-radius:3px;}

.alert-sm{padding:8px;margin-bottom:8px;}

.not-visible{display:none;}/*did purposely for display none without !important*/

.table-sm td, .table-sm th{padding:4px 6px !important;}
.input-xs { height: 22px;padding: 1px 2px;font-size: 12px;border-radius: 3px;}


.font-color-grey{color: #b1b1b1 !important;}

.ht-50{height: 50%;}
.ht-60{height: 60%;}
.ht-70{height: 70%;}
.ht-80{ height: 80% !important;}
.ht-100{height: 100%;}

.wd-60{width: 60%;}
.wd-80{width: 80%;}
.wd-90{width: 90%;}
.wd-100{width: 100%;}

.float-right{float: right;}
.float-left{float: left;}

.modal-ht-25{height: 25%;}
.modal-ht-30{height: 30%;}
.modal-ht-35{height: 35%;}
.modal-ht-40{height: 40%;}
.modal-ht-50{height: 50%;}
.modal-ht-60{height: 60%;}
.modal-ht-70{height: 70%;}
.modal-ht-80{ height: 80% !important;}
.modal-ht-100{height: 100%;}
.modal-ht-fixed-200{ height: 200px;}
.modal-ht-fixed-225{ height: 225px;}
.modal-ht-fixed-250{ height: 250px;}
.modal-ht-fixed-275{ height: 275px;}
.modal-ht-fixed-300{ height: 300px;}
.modal-ht-fixed-350{ height: 350px;}
.modal-ht-fixed-400{ height: 400px;}
.modal-ht-fixed-500{ height: 500px;}



.modal-wd-25{width: 25%;}
.modal-wd-30{width: 30%;}
.modal-wd-35{width: 35%;}
.modal-wd-40{width: 40%;}
.modal-wd-45{width: 45%;}
.modal-wd-50{width: 50%;}
.modal-wd-55{width: 55%;}
.modal-wd-60{width: 60%;}
.modal-wd-65{width: 65%;}
.modal-wd-fixed-4{ width: 400px;}

@media (max-width: 767px) {
  .modal-wd-fixed-4{ width: 94%;}
}
.modal-wd-fixed-5{ width: 500px;}

.modal-footer-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: none !important;
}

.loader-container {
  height: calc(100% - 100px);
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
}

.loaderBox {
  position: fixed;
  left: 46%;
  top: 42%;
  height: 110px;
  width: auto;
  text-align: center;
  font-size: 22px;
  color: #407dd8;
  z-index: 999;
}

.loaderBox img{
  top: 45%;
  height: 100%;
  z-index: 999;
  border-radius: inherit;
}


/* Calendar */
.history-big-calendar .ui-state-highlight { background: rgb(250, 134, 186) !important; border-color: #eee !important;}
.history-big-calendar .ui-widget-header { font-weight: 600; height: 80px;  line-height: 80px;  background: none !important;  font-size: 18px;}
.history-big-calendar .fc-event, .history-big-calendar .ui-button {background: #EA1777; border: 1px solid #EA1777;}
.history-big-calendar .fc-event.no-bg { color: #000 !important; background: #fff !important;}


.history-small-calendar .ui-datepicker .ui-datepicker-header, .small-cal-header{ background: #65318F !important; color: #fff !important;}
.history-small-calendar .ui-datepicker .ui-datepicker-header a { color: #fff !important; }
.history-small-calendar .ui-datepicker .ui-datepicker-header a:hover {background: #bbb;}
.history-small-calendar .ui-calendar, .history-small-calendar .ui-datepicker.ui-datepicker-inline {width: 100% !important;}
.history-small-calendar .ui-calendar .ui-widget-content{ border-top: none !important;}
.history-small-calendar .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
  background: none !important;
  color: #000;
  border-bottom: 3px solid #EA1777;
  padding-bottom: 2px;
}
.history-small-calendar .ui-state-disabled.ui-state-default {border: none !important}
.history-small-calendar .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
  background-color: #EA1777;
  color: #212121;
  border-radius: 50%;
}
.history-small-calendar .ui-datepicker-month { color: #000 !important; }
.history-small-calendar .ui-datepicker td span, .ui-datepicker td a { padding: 8px; }

.small-cal-header { width: 100%; height: 50px; border: 1px solid #ddd; border-bottom: none; padding: 10px; }

@media(max-width:767px){
  .smCal .ref-calendar.top-buffer-48 {
    margin-top:15px !important;
  }
  .lgCal .fc-right {
      margin-top: 15px;
      float: left !important;
  }
  .lgCal .fc-button-group{
    margin-left: 22px !important;
  }
  .lgCal .fc-toolbar button {
    margin-top: 10px !important;
  }
}

.mdc-floating-label{left: 0 !important;padding: 3px 0 !important; bottom: 5px !important;}
.mdc-text-field--box .mdc-floating-label--float-above { bottom: 10px !important;}
.mdc-floating-label, .mdc-form-field label, .mdc-text-field__input, .mdc-select option, .mdc-form-field label, .mdc-select--box .mdc-select__native-control{font-size: 16px !important;font-weight: 300;}
.mdc-select .mdc-select--box:hover {background: none !important;}

.mdc-text-field--box{ height: 52px !important; margin-top: 0px !important; }
.mdc-text-field--box::before, .mdc-text-field--box::after { background: none !important;}
.mdc-text-field--box .mdc-text-field__input {padding:  20px 5px 0 !important;}


.bg-cnc{background-size: cover !important;background-repeat: no-repeat !important;background-position: center !important;}
.left-container {background:url("/assets/images/log-bg.jpeg");height: 100vh;}
.left-container::before {position: absolute;background-color:#65318F;opacity: 0.6;width: 100%;height: 100%;left: 0;content: ' ';}
.wlecome-note {top: 55%;}
.top-space{margin-top: 14%}
.top-space-log{margin-top: 18%}
.pwd-icon {top: 30px;}
.reg-scroll {height: 450px;}
.fg-line-h{line-height: 3;}
.divider{height: 4px;width: 50px;}
.divider-2{height: 4px;width: 18px;}
.home-sidebar .ui-sidebar{z-index: 1034 !important;padding: 0;border: 0;overflow-y: auto;background-color:#F5F5F5;}
/* .ui-widget-overlay{z-index: 1033 !important;} */
.btn-pad-t{padding-top:12px !important; }


@media(max-width:1024px){
    .wlecome-note{top: 20%;}
    .reg-scroll{height: 315px;}
    .top-space, .top-space-log{margin-top: 2%}
}
@media(max-width:992px){
    .reg-scroll{height: 470px;}
}

@media(max-width:767px){
    .log-container{border-radius: 8px;}
    .reg-scroll{height: 175px;}
}
.d-block{  display: block !important;}
.d-none{  display: none !important;}

.success{color: #00c851}
.icon-config{font-size: 30px; padding-right: 20px}
.warning{color: #d42b2b}
.display-inline-flex{display: inline-flex}


.ratingStar .ui-rating { height: 40px;}
.ui-rating a { text-decoration: none !important;}
.ratingStar .ui-rating-icon { font-size: 35px;  color: #F4C063;}

.ratingStar .ui-rating { height: 40px;}
.ui-rating a { text-decoration: none !important;}
.ratingStar .ui-rating-icon { font-size: 35px;  color: #F4C063;}

.ratingicon-list { display: inline-block; }
.ratingicon .ui-rating-icon {font-size: 20px;  color: #F4C063; }

/* text box field */
.aboutself-text .mdc-text-field--textarea{ border: 0px !important; }
.aboutself-text .mdc-text-field__input { height: auto !important; padding: 32px 0 0 0 !important;}
.aboutself-text textarea#mdc-input-1Â {padding: 30pxÂ 0Â 0Â 0;}
.rate-label { font-weight: 500; color: #96A2BA; }
.aboutself-text .mdc-text-field:not(.mdc-text-field--disabled) {color: #96A2BA;}
.aboutself-text .mdc-text-field--textarea {
  height: auto !important;
  /* padding: 32px 0 0 0 !important; */
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-color: #8C8F91 !important;
  border-radius:0 !important;
}
.aboutself-text .mdc-text-field--textarea .mdc-text-field__input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-color: #8C8F91 !important;
  border-radius:0 !important;
}
.aboutself-text .mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input:focus {
  border-top: none !important;
  border-left: none !important;
  border-bottom-color: #65318F!important;
  border-right: none !important;
  border-radius:0 !important;
}
.aboutself-text .mdc-text-field--textarea .mdc-floating-label { margin: 0; padding: 0; font-size: 14px !important; }

.back-text-button {
  height: 36px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #EA1777;
  outline: none;
  padding: 10px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  text-transform: uppercase;
  color: #fff !important;
  /* background-color: #FD6A3E; */
  background-color: #EA1777;
  font-size: 10px !important;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 0;
}

.btn-primary:hover {
  /* background-color: #FD6A3E !important; */
  background-color: #EA1777 !important;
  border: none !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #96A2BA;
  background-color: #E1E4E7 !important;
  border: none !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: default;
}

.disabled-cursor{cursor: not-allowed !important; pointer-events:none !important;}
.disabled-a{ color: #96A2BA !important; }
.disable-lable-btn{ background-color: #a5a5a5 !important;  border-color: #6d6d6d !important; }
.home-sidebar .ui-sidebar{z-index: 1034 !important;padding: 0;border: 0;overflow-y: auto;background-color:#F5F5F5;}
.ui-sidebar-close{display: none}
.ui-widget-overlay, .fc-view, .fc-view>table, .fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active{z-index: 0 !important;}

.error-validation {color: #b00020 !important;
  /* font-family: Roboto, sans-serif; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.03333333em;
  text-decoration: inherit;
  text-transform: inherit;
  margin: 0;
  -webkit-transition: opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 13px;
  will-change: opacity;
}

/************************snap bar ****************************************/
.mdc-snackbar{
  width:auto!important;
  min-width:35%!important;
  z-index:1006 !important;
  top : 81%;
  height: 80px;
  background: #65318F !important;
  box-shadow: 0Â 1remÂ 3remÂ rgba(0,Â 0,Â 0,Â 0.175)Â !important;
}
.mdc-snackbar .mdc-snackbar__text{
  font-size:15px!important;
}
.mdc-snackbar .mdc-snackbar__action-button{
  color:white;
  font-size:12px!important;
}
