<form [formGroup]="loginForm" class="login-form" fxLayout="column" (ngSubmit)="login()">
  <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" placeholder="Email"
             autocorrect="off" autocapitalize="off" spellcheck="false"
             required>
      <mat-error *ngIf="loginForm.hasError('required',['email'])">
          Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.hasError('email',['email'])">
          Enter valid email
      </mat-error>
      <mat-error *ngIf="loginForm.hasError('userNotFound',['email'])">
          Email not found
      </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="Password"
             [type]="showPassword ? 'text' : 'password'"
             autocorrect="off" autocapitalize="off" spellcheck="false"
             required>
     <!-- <button mat-icon-button matSuffix (click)="showPassword = !showPassword" type="button">
          <mat-icon> {{ showPassword ? "visibility" : "visibility_off" }}</mat-icon>
      </button>-->
      <mat-error *ngIf="loginForm.hasError('required',['password'])">
          Password is required
      </mat-error>
      <mat-error *ngIf="loginForm.hasError('passwordError',['password'])">
          Wrong password
      </mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <a mat-button color="primary" type="button" routerLink="/forgot-password">
          Forgot Password?
      </a>
      <button type="submit" mat-raised-button color="primary" [disabled]="loading">
          <span *ngIf="!loading">
              Login
          </span>
        
      </button>
  </div>
</form>
